@model Central_Sports.Models.Product

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.AfbeeldingUrl" class="img-fluid rounded" />
        </div>

        <div class="col-md-6">
            <h2>@Model.Naam</h2>
            <h4 class="text-muted">€@Model.Prijs</h4>

            <p class="my-4">@Model.Beschrijving</p>

            <a asp-controller="Store" asp-action="Index" class="btn btn-outline-secondary">
                Terug naar overzicht
            </a>
        </div>
    </div>
</div>
