@{
    ViewBag.Title = "Reservering bevestigd";
}

<h1>Reservering bevestigd!</h1>
<p>Je reservering is succesvol afgerond via @ViewBag.Betaalmethode.</p>
<p>Gereserveerd door: @ViewBag.Emailgebruiker</p>

<a href="/Home/Index"
   style="padding:5px 10px; background-color:#007bff; color:white; text-decoration:none; border-radius:5px;">
    Terug naar homepagina
</a>
