<head>
<style>

        body {
            margin: 0px;
            background-color: #457B9D;
        }


        .bovensteSector {
            height: 250px;
            width: 1190px;
            background-color: #A8DADC;
        }

        #Central_Sports {
            font-size: 48px;
            font-family: 'arial';
            position: relative;
            left: 0px;
            color: #E63946;
        }

        #Logo {
            background-color: coral;
            position: relative;
            float: right;
            height: 250px;
            width: 250px;
        }

        #Central_Sports span {
            background-color: #F1FAEE;
            border-right: 8px solid #F1FAEE;
            border-top: 8px solid #F1FAEE;
            border-bottom: 8px solid #F1FAEE;
            border-left: 0px solid #F1FAEE;
        }

        #Vultekst {
            font-family: 'arial';
            color: #E63946;
            font-weight: bold;
        }

            #Vultekst span {
                background-color: #F1FAEE;
                border-right: 8px solid #F1FAEE;
                border-top: 8px solid #F1FAEE;
                border-bottom: 8px solid #F1FAEE;
                border-left: 0px solid #F1FAEE;
            }

        .Knopvlak {
            width: 1190px;
            height: 200px;
            background-color: #1D3557;
            margin-bottom: 20px;
        }

        .Container {
            display: flex;
            column-gap: 0px;
            font-weight: bold;
            font-family: 'arial'             
        }

        .Reserveren {
            height: 160px;
            width: 243px;
            background-color: #F1FAEE;
            color: #E63946;
            margin-top: 20px;
            margin-right: 28px;
            margin-bottom: 20px;
            margin-left: 28px;
            text-align: center;
            text-decoration: underline;
            font-size: 30px;
            font-family: 'arial';
            display: block;
            cursor: pointer;
            text-decoration: underline;
        }

            .Reserveren:Hover {
                color: #1D3557;
            }

        .Webshop {
            height: 160px;
            width: 243px;
            background-color: #F1FAEE;
            color: #1D3557;
            margin-top: 20px;
            margin-right: 28px;
            margin-bottom: 20px;
            margin-left: 28px;
            text-align: center;
            text-decoration: underline;
            font-size: 30px;
            font-family: 'arial';
            display: block;
            cursor: pointer;
            text-decoration: underline;
        }

            .Webshop:Hover {
                color: #1D3557;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: #F1FAEE;
            min-width: 243px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            text-align: center;
            border: 1px solid #1D3557;
            border-top: none;
        }

            .dropdown-content a {
                color: #1D3557;
                padding: 16px 12px;
                text-decoration: none;
                display: block;
                font-size: 24px;
                border-bottom: 1px solid #1D3557;
            }

                .dropdown-content a:last-child {
                    border-bottom: none;
                }

                .dropdown-content a:hover {
                    background-color: #A8DADC;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .Account {
            height: 160px;
            width: 243px;
            background-color: #F1FAEE;
            color: #E63946;
            margin-top: 20px;
            margin-right: 28px;
            margin-bottom: 20px;
            margin-left: 28px;
            text-align: center;
            text-decoration: underline;
            font-size: 30px;
            font-family: 'arial';
            display: block;
            cursor: pointer;
            text-decoration: underline;
        }

            .Account:Hover {
                color: #1D3557;
            }

        .Contact {
            height: 160px;
            width: 243px;
            background-color: #F1FAEE;
            color: #E63946;
            margin-top: 20px;
            margin-right: 28px;
            margin-bottom: 20px;
            margin-left: 28px;
            text-align: center;
            text-decoration: underline;
            font-size: 30px;
            font-family: 'arial';
            display: block;
            cursor: pointer;
            text-decoration: underline;
        }

            .Contact:Hover {
                color: #1D3557;
            }

        .Typvlak2 {
            Background-color: #F1FAEE;
            height: 1000px;
            width: 1190px;
            font-family: 'arial';
            font-size: 30px;
            color: #E63946;
            font-weight: bold;
            margin-bottom: 400px;
            border: 4px solid #1D3557;
        }

        .Titelvlak {
            position: relative;
            left: 4px;
            outline: 4px solid #1D3557;
            color: #E63946;
            background-color: #F1FAEE;
            margin-left: 0px;
            width: 250px;
            height: 60px;
            text-align: center;
            font-size: 48px;
            font-family: 'arial';
            font-weight: bold;
        }

        .Tussenstuk {
            background-color: #457B9D;
            height: 220px;
            width: 1190px;
        }
        h1{
			font-weight: bold;
        }

        h5 {
            font-weight: bold;
            font: 'arial';
        }

        container2 {
            display: flex;
        }



        .TextTop {
        }

</style></head>

<body>
    <div class="ContainerBoven">
        <div class="bovensteSector">
            <div id="Logo"></div>
            <br>
            <h1 id="Central_Sports"><span>CENTRAL SPORTS</span></h1>
            <h1 id="Vultekst"><span>LOREM IPSUM</span></h1>
            <br>
        </div>
    </div>
    <div class="Knopvlak">
        <div class="Container">
            <div class="dropdown">
                <a asp-controller="Home" asp-action="Reserveren" class="Reserveren"><br>RESERVEREN</a>
                <div class="dropdown-content">
                    <img src="~/images/Plattegrond.png" alt="Plattegrond"></a>
                </div>
            </div>
            <div class="dropdown">
                <div class="Webshop"><br>WEBSHOP</div>
                <div class="dropdown-content">
                    <a asp-controller="Home" asp-action="Kantine">RESTAURANTMENU</a>
                    <a asp-controller="Product" asp-action="Index">SPORTARTIKELEN</a>
                    <a asp-controller="Winkelwagen" asp-action="Index">WINKELWAGEN</a>
                </div>
            </div>
            <a asp-controller="Home" asp-action="Account" class="Account"><br>ACCOUNT</a>
            <a asp-controller="Home" asp-action="Contact" class="Contact"><br>CONTACT</a>
        </div>
    </div>
    <div class="Typvlak2"><br />
        &nbsp; CENTRAL SPORTS INDUSTRIES<br /><br />
        &nbsp; ADRES:<br />&nbsp; STATIONSSTRAAT 22<br /><br />
        &nbsp; BUSINESSMAIL:<br />&nbsp; Tygomommers@student.fontys.nl<br /><br />
        &nbsp; OPENINGSTIJDEN:<br />&nbsp; 8.30 - 17.00<br /><br />


    </div>

</body>