@{
    ViewData["Title"] = "Products";
}
<head>
<link rel="stylesheet" href="~/css/Producten.css" />

</head>


<body>
	<div class="ContainerBoven">
		<div class="bovensteSector">
			<div id="Logo"></div>
			<br>
			<h1 id="Central_Sports"><span>CENTRAL SPORTS</span></h1>
			<h1 id="Vultekst"><span>LOREM IPSUM</span></h1>
			<br>
  </div>
		</div>
		<div class="Knopvlak">
<div class="Container">
				<div class="dropdown">
					<a asp-controller="Home" asp-action="Reserveren" class="Reserveren"><br>RESERVEREN</a>						
						<div class="dropdown-content">
					<img src="~/images/Plattegrond.png" alt="Plattegrond"></a>
						</div>
					</div>
					<div class="dropdown">
						<div class="Webshop"><br>WEBSHOP</div>
							<div class="dropdown-content">
								<a asp-controller="Home" asp-action="Kantine">RESTAURANTMENU</a>
								<a asp-controller="Product" asp-action="Index">SPORTARTIKELEN</a>
                                <a asp-controller="Winkelwagen" asp-action="Index">WINKELWAGEN</a>
							</div>
						</div>
						<a asp-controller="Home" asp-action="Account" class="Account"><br>ACCOUNT</a>
							<a asp-controller="Home" asp-action="Contact" class="Contact"><br>CONTACT</a>
					</div>
			</div>
						<div class="Typvlak">
						<div class="Typvlak2">
			<div class="Productplaats"> <div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br>Sportbidon
<br> €5.49
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="1" />
<input type="hidden" name="name" value="Sportbidon" />
<input type="hidden" name="price" value="5,49" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>
              </div>
			<div class="Productplaats"> <div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br> Hoodie
<br> €39,99,-
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="2" />
<input type="hidden" name="name" value="Hoodie " />
<input type="hidden" name="price" value="39,99" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>
              </div>
			<div class="Productplaats"> <div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br> T-shirt
<br> €19,99,-
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="3" />
<input type="hidden" name="name" value="T-shirt " />
<input type="hidden" name="price" value="19,99" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>
              </div>
			<div class="Productplaats"> <div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br>Pet 
<br> €12,49,-
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="4" />
<input type="hidden" name="name" value="Pet" />
<input type="hidden" name="price" value="12,49" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>              </div>
							<div class="Productplaats2"><div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br>Handdoeken 
<br> €7,49,-
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="5" />
<input type="hidden" name="name" value="Handdoeken" />
<input type="hidden" name="price" value="7,49" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>							</div>
							<div class="Productplaats2"><div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br>Voetbal 
<br> €19,99,- 
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="6" />
<input type="hidden" name="name" value="Voetbal " />
<input type="hidden" name="price" value="19,99" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>							</div>
							<div class="Productplaats2"><div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br>Padelrackets 
<br> €24,99,-
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="7" />
<input type="hidden" name="name" value="Padelrackets" />
<input type="hidden" name="price" value="24,99" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>							</div>
							<div class="Productplaats2"><div id="Productfoto"><img src="url" alt="alternatetext"></div>
<br>Tennisrackets
<br> €49.99,-
<form asp-controller="Winkelwagen" asp-action="AddToCart" method="post">
<input type="hidden" name="id" value="8" />
<input type="hidden" name="name" value="Tennisrackets" />
<input type="hidden" name="price" value="49,99" />
<a><button type="submit" class="button">WINKELWAGEN</button></a>
</form>							</div>

						</div>
	
							</div>
						</div>
				</div>
			</div>



</body>