@{
ViewBag.Title = "Reserveren";
}

<head>
<link rel="stylesheet" href="~/css/Reserveren.css" />
</head>

  <body>

	<div class="ContainerBoven">
		<div class="bovensteSector">
			<div id="Logo"></div>
			<br>
			<h1 id="Central_Sports"><span>CENTRAL SPORTS</span></h1>
			<h1 id="Vultekst"><span>LOREM IPSUM</span></h1>
			<br>
  </div>
		</div>
		<div class="Knopvlak">
						<div class="Container">
				<div class="dropdown">
					<a asp-controller="Home" asp-action="Reserveren" class="Reserveren"><br>RESERVEREN</a>						
						<div class="dropdown-content">
					<img src="~/images/Plattegrond.png" alt="Plattegrond"></a>
						</div>
					</div>
					<div class="dropdown">
						<div class="Webshop"><br>WEBSHOP</div>
							<div class="dropdown-content">
								<a asp-controller="Home" asp-action="Kantine">RESTAURANTMENU</a>
								<a asp-controller="Product" asp-action="Index">SPORTARTIKELEN</a>
                                <a asp-controller="Winkelwagen" asp-action="Index">WINKELWAGEN</a>
							</div>
						</div>
						<a asp-controller="Home" asp-action="Account" class="Account"><br>ACCOUNT</a>
							<a asp-controller="Home" asp-action="Contact" class="Contact"><br>CONTACT</a>
					</div>
			</div>
						<div class="Typvlak">
							<div class="Typvlak2">
								<div class="Baanveld1">VELD.1</div>
								<div class="Baanveld2">VELD.2</div>
								<div class="Baanveld3">VELD.3</div>
								<div class="Baanveld4">VELD.4</div>
							</div>
							<div class="BaanwaardenCompleet">
<!--baan1-->
								<div class="Baanwaarden1">
									<br>9.00 - 10.30<br><br>BINNENBAAN<br><br>€40,-
        <a asp-controller="Home" asp-action="Betalen" asp-route-baan="1" asp-route-tijd="9:00 - 10:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden1">
									<br>11.00 - 12.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="1" asp-route-tijd="11:00 - 12:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden1">
									<br>13.00 - 14.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="1" asp-route-tijd="13:00 - 14:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden1">
									<br>15.00 - 16.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="1" asp-route-tijd="15:00 - 16:30"><button class="button">RESERVEREN</button></a>
								</div>
<!--baan2-->
								<div class="Baanwaarden2">
									<br>9.00 - 10.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="2" asp-route-tijd="9:00 - 10:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden2">
									<br>11.00 - 12.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="2" asp-route-tijd="11:00 - 12:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden2">
									<br>13.00 - 14.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="2" asp-route-tijd="13:00 - 14:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden2">
									<br>15.00 - 16.30<br><br>BINNENBAAN<br><br>€40,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="2" asp-route-tijd="15:00 - 16:30"><button class="button">RESERVEREN</button></a>
								</div>
<!--baan3-->
								<div class="Baanwaarden3">
									<br>9.00 - 10.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="3" asp-route-tijd="9:00 - 10:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden3">
									<br>11.00 - 12.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="3" asp-route-tijd="11:00 - 12:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden3">
									<br>13.00 - 14.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="3" asp-route-tijd="13:00 - 14:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden3">
									<br>15.00 - 16.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="3" asp-route-tijd="15:00 - 16:30"><button class="button">RESERVEREN</button></a>
								</div>
<!--baan4-->
								<div class="Baanwaarden4">
									<br>9.00 - 10.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="4" asp-route-tijd="9:00 - 10:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden4">
									<br>11.00 - 12.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="4" asp-route-tijd="11:00 - 12:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden4">
									<br>13.00 - 14.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="4" asp-route-tijd="13:00 - 14:30"><button class="button">RESERVEREN</button></a>
								</div>
								<div class="Baanwaarden4">
									<br>15.00 - 16.30<br><br>BUITENBAAN<br><br>€32,-
				<a asp-controller="Home" asp-action="Betalen" asp-route-baan="4" asp-route-tijd="15:00 - 16:30"><button class="button">RESERVEREN</button></a>
								</div>
							</div>
              </div>
						</div>


  </body>
  