		body {
			margin: 0px;
			background-color: #457B9D
		}


		.bovensteSector {
			height: 250px;
			width: 1190px;
			background-color: #A8DADC
		}

		#Central_Sports {
			font-size: 48px;
			font-family: 'arial';
			position: relative;
			left: 0px;
			color: #E63946;
            font-weight:bold;

		}

		#Logo {
			background-color: coral;
			position: relative;
			float: right;
			height: 250px;
			width: 250px;
		}

		#Central_Sports span {
			background-color: #F1FAEE;
			border-right: 8px solid #F1FAEE;
            border-top: 8px solid #F1FAEE;
			border-bottom: 8px solid #F1FAEE;
            border-left:0px solid #F1FAEE;
		}

		#Vultekst {
			font-family: 'arial';
            font-weight:bold;		
            color: #E63946;
		}

		#Vultekst span {
			background-color: #F1FAEE;
			border-right: 8px solid #F1FAEE;
            border-top: 8px solid #F1FAEE;
			border-bottom: 8px solid #F1FAEE;
            border-left:0px solid #F1FAEE;
		}

		.Knopvlak {
			width: 1190px;
			height: 200px;
			background-color: #1D3557;
		}

		.Container {
			display: flex;
			column-gap: 0px;
			font-weight: bold;
			font-family: 'arial'
		}

		.Reserveren {
			height: 160px;
			width: 243px;
			background-color: #F1FAEE;
			color: #1D3557;
			margin-top: 20px;
			margin-right: 28px;
			margin-bottom: 20px;
			margin-left: 28px;
			text-align: center;
			text-decoration: underline;
			font-size: 30px;
			font-family: 'arial';
	display: block;
	cursor: pointer;
	text-decoration:underline;
		}

		.Reserveren:Hover {
			color: #1D3557;
		}

		.Webshop {
			height: 160px;
			width: 243px;
			background-color: #F1FAEE;
			color: #E63946;
			margin-top: 20px;
			margin-right: 28px;
			margin-bottom: 20px;
			margin-left: 28px;
			text-align: center;
			text-decoration: underline;
			font-size: 30px;
			font-family: 'arial';
	display: block;
	cursor: pointer;
	text-decoration:underline;
		}

		.Webshop:Hover {
			color: #1D3557;
		}
.dropdown-content {
display: none;
position: absolute;
left: 50%;
transform: translateX(-50%);
background-color: #F1FAEE;
min-width: 243px;
box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
z-index: 1;
text-align: center;
border: 1px solid #1D3557;
border-top: none;
}

.dropdown-content a {
color: #1D3557;
padding: 16px 12px;
text-decoration: none;
display: block;
font-size: 24px;
border-bottom: 1px solid #1D3557;
}

.dropdown-content a:last-child {
border-bottom: none;
}

.dropdown-content a:hover {
background-color: #A8DADC;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown {
position: relative;
display: inline-block;
}

		.Account {
			height: 160px;
			width: 243px;
			background-color: #F1FAEE;
			color: #E63946;
			margin-top: 20px;
			margin-right: 28px;
			margin-bottom: 20px;
			margin-left: 28px;
			text-align: center;
			text-decoration: underline;
			font-size: 30px;
			font-family: 'arial';
	display: block;
	cursor: pointer;
	text-decoration:underline;
		}

		.Account:Hover {
			color: #1D3557;
		}

		.Contact {
			height: 160px;
			width: 243px;
			background-color: #F1FAEE;
			color: #E63946;
			margin-top: 20px;
			margin-right: 28px;
			margin-bottom: 20px;
			margin-left: 28px;
			text-align: center;
			text-decoration: underline;
			font-size: 30px;
			font-family: 'arial';
	display: block;
	cursor: pointer;
	text-decoration:underline;
		}

		.Contact:Hover {
			color: #1D3557;
		}

		.Typvlak {
			Background-color: #F1FAEE;
			height: 2000px;
			width: 1190px;
		}

		.Typvlak2 {
			display: flex;
			font-family: 'arial';
			font-weight: bold;
		}

		.Baanveld1 {
			font-size: 32px;
			color: #E63946;
			background-color: #F1FAEE;
			margin-top: 40px;
			margin-left: 40px;
			margin-right: 179px;
			margin-bottom: 5px;
			height: 35px;
			width: 120px;
			outline: 4px solid #1D3557;
		}

		.Baanveld2 {
			font-size: 32px;
			color: #E63946;
			background-color: #F1FAEE;
			margin-top: 40px;
			margin-left: 0px;
			margin-right: 178px;
			margin-bottom: 0px;
			height: 35px;
			width: 120px;
			outline: 4px solid #1D3557;
		}

		.Baanveld3 {
			font-size: 32px;
			color: #E63946;
			background-color: #F1FAEE;
			margin-top: 40px;
			margin-left: 0px;
			margin-right: 179px;
			margin-bottom: 0px;
			height: 35px;
			width: 120px;
			outline: 4px solid #1D3557;
		}

		.Baanveld4 {
			font-size: 32px;
			color: #E63946;
			background-color: #F1FAEE;
			margin-top: 40px;
			margin-left: 0px;
			margin-right: 40px;
			margin-bottom: 0px;
			height: 35px;
			width: 120px;
			outline: 4px solid #1D3557;
		}

		.BaanwaardenCompleet {
			Font-family: 'arial';
			font-weight: bold;
			font-size: 24px;
		}

		.Baanwaarden1 {
			margin-left: 40px;
			margin-right:0px ;
			margin-bottom: 5px;
			color: #E63946;
			height: 250px;
			width: 195px;
			outline: 4px solid #1D3557;
		}

		.Baanwaarden2 {
			position: relative;
			left: 299px;
			top: -1020px;
			margin-left: 40px;
			margin-right:0px ;
			margin-bottom: 5px;
			color: #E63946;
			height: 250px;
			width: 195px;
			outline: 4px solid #1D3557;
		}

		.Baanwaarden3 {
			position: relative;
			left: 597px;
			top: -2040px;
			margin-left: 40px;
			margin-right:0px ;
			margin-bottom: 5px;
			color: #E63946;
			height: 250px;
			width: 195px;
			outline: 4px solid #1D3557;
		}

		.Baanwaarden4 {
			position: relative;
			left: 896px;
			top: -3060px;
			margin-left: 40px;
			margin-bottom: 5px;
			color: #E63946;
			height: 250px;
			width: 195px;
			outline: 4px solid #1D3557;
		}

		.button {
			height: 40px;
			width: 120px;
			font-family: 'Arial';
			font-weight: bold;
			background-color: #A8DADC;
			color: #E63946;
			font-size: 15px;
			float: right;
			outline: 2px solid #1D3557
		}
    .button:hover{
			color: #1D3557;
      cursor: pointer;
    }

